---
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";
import type { EducationProps } from "@types";

interface Props {
  education: EducationProps[];
  sectionTitle: string;
}

const { education, sectionTitle } = Astro.props;
---

<Section text={sectionTitle} href="education">
  {
    education.map(({ institution, degree, startDate, endDate, achievements }) => (
      <div class="mb-10">
        <h3 class="mb-1.5 font-serif text-2xl font-semibold text-theme-primary">
          {institution}
        </h3>
        <div class="flex flex-col items-start pb-5">
          <h4 class="mb-0.5 font-serif text-2xl font-medium text-primary">
            {degree}
          </h4>
          <span class="pb-[2px] text-sm text-theme-secondary opacity-80">
            {startDate} — {endDate}
          </span>
        </div>
        <ul class="list-none">
          {achievements.map((achievement) => (
            <li class="flex items-start gap-3 mb-3 text-base text-theme-secondary">
                <Icon name="solar:check-circle-linear" class="flex-shrink-0 mt-0.5" size={20} />
                <span>{achievement}</span>
              </li>
          ))}
        </ul>
      </div>
    ))
  }
</Section>

