---
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";
import type { ExperienceProps } from "@types";

interface Props {
  experience: ExperienceProps[];
  sectionTitle: string;
}

const { experience, sectionTitle } = Astro.props;
---

<Section text={sectionTitle} href="experience">
  {
    experience.map(({ company, position, startDate, endDate, summary }) => (
      <div class="mb-10">
        <h3 class="mb-1.5 font-serif text-2xl font-semibold text-theme-primary">
          {company}
        </h3>
        <div class="flex flex-col items-start pb-5">
          <h4 class="mb-0.5 font-serif text-2xl font-medium text-primary">
            {position}
          </h4>
          <span class="pb-[2px] text-sm text-theme-secondary opacity-80">
            {startDate} — {endDate}
          </span>
        </div>
        {Array.isArray(summary) ? (
          <ul class="list-none">
            {summary.map((log) => (
              <li class="flex items-start gap-3 mb-3 text-base text-theme-secondary">
                <Icon name="solar:check-circle-linear" class="flex-shrink-0 mt-0.5" size={20} />
                <span>{log}</span>
              </li>
            ))}
          </ul>
        ) : <p class="text-base text-theme-secondary">{summary}</p>}
      </div>
    ))}
  </Section>
